node_modules/
.gocache/
.gomodcache/
tmp-gocache/
tmp-gomodcache/
tmp-gopath/
tmp-npm-cache/
test-results/
logs/
recordings/
tmp-*.log
*~
/galene
/galene.exe
/galenectl/galenectl
/data
/groups/**/*.json
/static/**/*.d.ts
/static/third-party/tasks-vision
